# Build Artifacts
/dist/
/build/
*.spec
installer.cfg

# Dependencies & Environments
playwright-browsers/
venv/
env/
.env
__pycache__/
*.pyc

# Logs & Debug
*.log
debug_log.txt
*.tmp

# IDEs
.vscode/
.idea/

